@import url("../src/fonts/Gilroy/stylesheet.css");

$gilroy: "Gilroy";
$gold: #bd8d44;
$gray: #343434;
$black: #000000;
$lightgray: #dfdfdf;

@mixin font($titleVal, $lineHeight, $fontWeight) {
  font-size: $titleVal;
  color: $black;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}

.bout {
  height: 90vh;
  background: linear-gradient(
      0deg,
      #fffdf8 0%,
      rgba(255, 253, 248, 0.95) 23.18%,
      rgba(255, 253, 248, 0.59) 39.03%,
      rgba(255, 253, 248, 0) 51.37%
    ),
    url("../src/img/bout_bg.jpeg"), lightgray 50% / cover no-repeat;
  background-position: 0%;
  background-size: cover;
  background-repeat: no-repeat;

  .cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.bout_about {
  background-color: #fffdf8;
  padding: 0 0 72px;

  .desc {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    .item {
      background: white;
      padding: 12px 16px;
      border: 1px solid #9a9da3;
      border-radius: 12px;

      h3 {
        @include font(17px, 28px, 700);
        color: #513520;
        margin-bottom: 4px;
      }

      p {
        column-count: 1;
      }
    }
  }
}
