@import url("../src/fonts/Gilroy/stylesheet.css");

$gilroy: "Gilroy";
$gold: #bd8d44;
$gray: #343434;
$black: #000000;
$lightgray: #dfdfdf;

@mixin font($titleVal, $lineHeight, $fontWeight) {
  font-size: $titleVal;
  color: $black;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}

@media all and (max-width: 768px) {
  .bout {
    svg {
      width: 241px;
    }
  }

  .bout_about {
    padding: 0 0 40px;

    .desc {
      display: grid;
      grid-template-columns: 1fr;
      gap: 10px;

      .item {
        padding: 10px 12px;
        border-radius: 10px;

        h3 {
          @include font(15px, 24px, 700);
          color: #513520;
        }

        p {
          column-count: 1;
          @include font(13px, 20px, 400);
        }
      }
    }
  }
}
