@charset "UTF-8";
@import url("../src/fonts/Gilroy/stylesheet.css");
@media all and (max-width: 768px) {
  body.noscroll {
    overflow: hidden;
  }
  .navbar__wrap .menu {
    display: none;
  }
  .hamb {
    display: flex;
    align-items: center;
    order: 3;
  }
  .hamb__field {
    cursor: pointer;
    background-color: #9a9da3;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
  .bar {
    display: block;
    width: 30px;
    height: 3px;
    margin: 3px auto;
    background-color: #fffdf8;
    transition: 0.2s;
    border-radius: 12px;
  }
  .popup {
    position: relative;
    top: 0px;
    left: 0;
    width: 100%;
    height: 0;
    background-color: bottom;
    z-index: 100;
    display: flex;
    transition: 0.3s;
    overflow-y: scroll;
  }
  .popup.open {
    height: -moz-fit-content;
    height: fit-content;
  }
  .popup .menu {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 0 7px;
  }
  .popup .menu > li {
    width: 100%;
  }
  .popup .menu > li > a {
    width: 100%;
    display: flex;
    justify-content: start;
    padding: 6px 0;
    font-size: 15px;
    color: #000000;
    line-height: 24px;
    font-weight: 400;
    color: #141515;
  }
  .popup .menu > li > a:hover {
    background-color: rgba(122, 82, 179, 0.1);
  }
  .hamb__field.active .bar:nth-child(2) {
    opacity: 0;
  }
  .hamb__field.active .bar:nth-child(1) {
    transform: translateY(10px) rotate(45deg);
  }
  .hamb__field.active .bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }
  section {
    overflow: hidden;
  }
  .cont {
    padding-inline: 15px;
  }
  main {
    top: 58px;
  }
  .navbar {
    background: rgba(255, 255, 255, 0.1);
    padding: 18px 16px 0 !important;
    border-radius: 0px 0px 20px 20px;
    border-right: 1px solid #ababab;
    border-bottom: 1px solid #ababab;
    border-left: 1px solid #ababab;
    overflow: hidden;
    transition: all 0.3s;
    align-items: start !important;
    display: block !important;
  }
  .navbar.open {
    height: 336px;
    background: #fffdf8;
  }
  header .logo-menu .menu {
    width: 100%;
    padding: 0;
  }
  header .logo-menu .menu li a {
    font-size: 15px;
    color: #000000;
    line-height: 24px;
    font-weight: 400;
    color: #fffdf8;
    transition: all 0.2s;
  }
  header .logo-menu .menu li a:hover {
    font-weight: 700;
    color: #bd8d44;
    transition: all 0.2s;
  }
  header .menu .mobile-li {
    display: block;
    margin-top: 32px;
  }
  header .menu .mobile-li a {
    align-items: center;
  }
  header .search-phone {
    display: none;
  }
  .home {
    background-position: 23%;
  }
  .home .banner {
    display: none;
  }
  .home .wrapper-card {
    margin-top: auto;
    margin-left: 0;
    margin-bottom: 21px;
  }
  .home .wrapper-card .main-card {
    height: -moz-fit-content;
    height: fit-content;
    padding: 10px;
    transition: all 0.3s;
    background: rgba(255, 255, 255, 0.9);
    max-width: 150px;
    border-radius: 10px;
  }
  .home .wrapper-card .main-card .first-wrapper h1 {
    font-size: 10px;
    color: #000000;
    line-height: 10px;
    font-weight: 700;
    color: #bd8d44;
    max-width: 100%;
    margin-bottom: 10px;
    transition: all 0.3s;
    text-align: center;
  }
  .home .wrapper-card .main-card .first-wrapper .btns {
    gap: 8px;
    flex-direction: column;
    transition: all 0.3s;
    margin-top: 16px;
  }
  .home .wrapper-card .main-card .first-wrapper .btns a {
    font-size: 10px;
    color: #000000;
    line-height: 10px;
    font-weight: 700;
    text-align: center;
    padding: 10px;
    transition: all 0.3s;
  }
  .home .wrapper-card .main-card:hover {
    display: flex;
    max-width: 100%;
    height: 100%;
    border-radius: 20px;
    padding: 36px 16px 16px;
    gap: 0;
    transition: all 0.3s;
  }
  .home .wrapper-card .main-card:hover .first-wrapper h1 {
    font-size: 36px;
    color: #000000;
    line-height: 40px;
    font-weight: 700;
    color: #bd8d44;
    max-width: 100%;
    margin-bottom: 16px;
    text-align: center;
  }
  .home .wrapper-card .main-card:hover .first-wrapper p {
    max-width: 100%;
    text-align: center;
  }
  .home .wrapper-card .main-card:hover .first-wrapper .btns {
    gap: 8px;
    flex-direction: column;
    margin-top: 16px;
  }
  .home .wrapper-card .main-card:hover .first-wrapper .btns a {
    text-align: center;
    font-size: 15px;
    color: #000000;
    line-height: 24px;
    font-weight: 700;
    padding: 12px 36px;
  }
  .home .wrapper-card .main-card .second-wrapper {
    display: none;
  }
  .to_catalog {
    position: relative;
    padding: 52px 0 20px;
  }
  .to_catalog .big-cards .big-item {
    max-width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  .to_catalog .big-cards .big-item .wrapper-img {
    max-height: 100%;
  }
  .to_catalog .big-cards .big-item .info-item {
    padding: 13px 16px 16px;
    display: flex;
  }
  .to_catalog .big-cards .big-item .info-item .title h2 {
    font-size: 13px;
    color: #000000;
    line-height: 20px;
    font-weight: 700;
  }
  .to_catalog .big-cards .big-item .info-item .title p {
    font-size: 13px;
    color: #000000;
    line-height: 20px;
    font-weight: 400;
  }
  .to_catalog .big-cards .big-item:last-child {
    display: none;
  }
  .to_catalog .small-cards {
    margin-top: 24px;
  }
  .to_catalog .small-cards .swiper-small-cards {
    width: 100%;
    max-width: 100%;
  }
  .to_catalog .small-cards .swiper-small-cards .swiper-slide {
    height: 100%;
  }
  .to_catalog .small-cards .swiper-small-cards .swiper-slide .img-wrapper {
    border-radius: 10px;
    height: 215px;
  }
  .to_catalog .small-cards .swiper-small-cards .swiper-slide .title h2 {
    font-size: 13px;
    color: #000000;
    line-height: 20px;
    font-weight: 700;
  }
  .to_catalog .small-cards .swiper-small-cards .swiper-slide .title p {
    font-size: 13px;
    color: #000000;
    line-height: 20px;
    font-weight: 400;
  }
  .to_catalog .small-cards .to_catalog_next,
  .to_catalog .small-cards .to_catalog_prev {
    display: none;
  }
  .to_catalog .small-cards-2 {
    display: block;
  }
  .to_catalog .div-btn {
    display: none;
  }
  .to_catalog .big-cards-2 {
    display: block !important;
    margin-top: 24px;
  }
  .to_catalog .big-cards-2 .big-item-2 {
    display: block !important;
  }
  .about {
    padding: 52px 0;
  }
  .about .heading {
    gap: 8px;
  }
  .about .heading .line {
    width: 32px;
    height: 2px;
  }
  .about .heading h2 {
    font-size: 19px;
    color: #000000;
    line-height: 32px;
    font-weight: 700;
    color: #141515;
  }
  .about .desc {
    margin-top: 24px;
  }
  .about .desc p {
    font-size: 13px;
    color: #000000;
    line-height: 20px;
    font-weight: 400;
    margin: 0;
    -moz-column-gap: 20px;
         column-gap: 20px;
    -moz-column-count: 1;
         column-count: 1;
  }
  .about .desc p span {
    font-size: 13px;
    color: #000000;
    line-height: 20px;
    font-weight: 700;
  }
  .about .gallery-wrapper {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
  }
  .about .gallery-wrapper .gallery-swiper .swiper-slide {
    max-width: 100%;
    width: 100%;
  }
  .about .gallery-wrapper .gallery-swiper .grid {
    display: grid;
    grid-template-columns: 2fr 1.5fr;
    gap: 5px;
  }
  .about .gallery-wrapper .gallery-swiper .grid .item:nth-child(1n) .item-inn {
    height: 87px;
  }
  .about .gallery-wrapper .gallery-swiper .grid .item:nth-child(2n) .item-inn {
    height: 103px;
  }
  .about .gallery-wrapper .gallery-swiper .grid .item:nth-child(3n) .item-inn {
    height: 103px;
    margin-top: -15px;
  }
  .about .gallery-wrapper .gallery-swiper .grid .item:nth-child(4n) .item-inn {
    height: 87px;
  }
  .about .gallery-wrapper .gallery-swiper .grid .item {
    height: 104px;
    width: 100%;
  }
  .about .gallery-wrapper .gallery-swiper .grid .item-inn {
    border-radius: 10px;
  }
  .about .gallery-wrapper .about_galley_prev,
  .about .gallery-wrapper .about_galley_next {
    width: 32px;
    height: 32px;
    top: 0;
    flex-shrink: 0;
    position: relative;
  }
  .about .gallery-wrapper .about_galley_prev::after,
  .about .gallery-wrapper .about_galley_next::after {
    font-size: 10px;
    color: #141515;
  }
  .about .gallery-wrapper .about_galley_next {
    right: 0;
  }
  .about .gallery-wrapper .about_galley_prev {
    left: 0;
  }
  .about .gallery-wrapper .btns {
    position: relative;
    display: flex;
    gap: 11px;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
  }
  .instagram {
    padding: 40px 0 0 0;
  }
  .instagram .cont {
    padding: 0;
  }
  .instagram .heading .first {
    gap: 8px;
  }
  .instagram .heading .first .line {
    width: 32px;
    height: 2px;
  }
  .instagram .heading .first h2 {
    font-size: 19px;
    color: #000000;
    line-height: 32px;
    font-weight: 700;
    color: #141515;
  }
  .instagram .widbox-footer-container {
    opacity: 0;
    visibility: hidden;
  }
  .contacts {
    padding: 50px 0 40px;
  }
  .contacts .heading {
    flex-direction: column;
    gap: 20px;
  }
  .contacts .heading .first {
    gap: 8px;
  }
  .contacts .heading .first .line {
    width: 32px;
    height: 2px;
  }
  .contacts .heading .first h2 {
    font-size: 19px;
    color: #000000;
    line-height: 32px;
    font-weight: 700;
    color: #141515;
  }
  .contacts .heading .custom-tabby {
    width: 100%;
  }
  .contacts .heading .custom-tabby li {
    width: 100%;
  }
  .contacts .heading .custom-tabby li a {
    border-radius: 8px;
    font-size: 14px;
    color: #000000;
    line-height: 16px;
    font-weight: 700;
    color: #434443;
    width: 100%;
    justify-content: center;
  }
  .contacts .city {
    gap: 12px;
    flex-direction: column;
  }
  .contacts .city .first {
    padding: 20px 16px 26px;
    max-width: 100%;
    height: 214px;
  }
  .contacts .city .first .logo {
    margin-bottom: 16px;
  }
  .contacts .city .first h2 {
    font-size: 13px;
    color: #000000;
    line-height: 20px;
    font-weight: 700;
    margin-bottom: 16px;
  }
  .contacts .city .first h2 br {
    display: none;
  }
  .contacts .city .first p {
    font-size: 13px;
    color: #000000;
    line-height: 20px;
    font-weight: 400;
  }
  .contacts .city .first p:last-child {
    margin-top: 16px !important;
  }
  .contacts .city .second {
    max-width: 100%;
    width: 100%;
    height: 212px;
  }
  .contacts .city .second iframe {
    height: 212px;
  }
  .contacts .city .third {
    max-width: 100%;
    width: 100%;
    height: 276px;
  }
  .contacts .city .third .top {
    padding: 16px;
  }
  .contacts .city .third .top .left h2 {
    font-size: 13px;
    color: #000000;
    line-height: 20px;
    font-weight: 700;
  }
  .contacts .city .third .top .left h2:first-child {
    margin-bottom: 12px;
  }
  .contacts .city .third .top .arrow svg {
    width: 16px;
  }
  .contacts .city .third .top .bottom {
    display: flex;
    gap: 15px;
  }
  .contacts .city .third .top .bottom svg {
    width: 20px;
  }
  footer {
    padding: 32px 0 12px;
    background-color: #513520;
  }
  footer .foot-cont {
    flex-direction: column;
    align-items: center;
    gap: 16px;
  }
  footer .foot-cont .last {
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }
  footer .foot-cont a.polit {
    margin: 0;
  }
  footer .foot-cont a {
    font-size: 13px;
    color: #000000;
    line-height: 20px;
    font-weight: 400;
    color: #fffdf8;
  }
  footer .foot-cont a:last-child {
    font-size: 13px;
    color: #000000;
    line-height: 20px;
    font-weight: 700;
    color: #fffdf8;
  }
  .contacts_page {
    padding: 108px 0 40px;
  }
  .reviews {
    padding: 150px 0 40px;
  }
  .reviews .heading {
    gap: 8px;
    margin-bottom: 12px;
  }
  .reviews .heading .line {
    width: 32px;
    height: 2px;
  }
  .reviews .heading h1 {
    font-size: 19px;
    color: #000000;
    line-height: 32px;
    font-weight: 700;
    color: #141515;
  }
  .reviews .grid {
    grid-template-columns: 1fr;
    gap: 12px;
  }
  .reviews .grid .item {
    padding: 16px;
    max-width: 100%;
    margin-bottom: 12px;
  }
  .reviews .grid .item .comment p {
    font-size: 13px;
    color: #000000;
    line-height: 20px;
    font-weight: 400;
  }
  .thx {
    height: 100vh;
  }
  .thx .cont h1 {
    font-size: 28px;
    color: #000000;
    line-height: 32px;
    font-weight: 700;
    margin: 0;
    color: #141515;
  }
  .thx .cont a {
    margin-top: 40px;
  }
  .basket-section {
    position: relative;
    background-color: #fffdf8;
    padding: 108px 0 68px;
  }
  .basket-section .heading {
    gap: 8px;
  }
  .basket-section .heading .line {
    width: 32px;
    height: 2px;
  }
  .basket-section .heading h1 {
    font-size: 19px;
    color: #000000;
    line-height: 32px;
    font-weight: 700;
    color: #141515;
  }
  .basket-section .big-wrapper {
    gap: 16px;
    margin-top: 32px;
    flex-direction: column;
  }
  .basket-section .big-wrapper .card-side {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .basket-section .big-wrapper .card-side .card-basket {
    padding: 8px 8px 16px 8px;
    flex-direction: column;
  }
  .basket-section .big-wrapper .card-side .card-basket .img-wrapper {
    height: 108px;
    max-width: 105px;
  }
  .basket-section .big-wrapper .card-side .card-basket .name-specifications {
    margin-left: 32px;
    padding: 0;
  }
  .basket-section .big-wrapper .card-side .card-basket .name-specifications h2 {
    font-size: 15px;
    color: #000000;
    line-height: 24px;
    font-weight: 700;
    color: #141515;
    margin-bottom: 4px;
  }
  .basket-section .big-wrapper .card-side .card-basket .name-specifications .specifications h3 {
    font-size: 13px;
    color: #000000;
    line-height: 20px;
    font-weight: 700;
    color: #141515;
    margin-bottom: 4px;
  }
  .basket-section .big-wrapper .card-side .card-basket .name-specifications .specifications .inner {
    gap: 10px;
  }
  .basket-section .big-wrapper .card-side .card-basket .name-specifications .specifications .inner ul.left li {
    font-size: 11px;
    color: #000000;
    line-height: 16px;
    font-weight: 400;
  }
  .basket-section .big-wrapper .card-side .card-basket .name-specifications .specifications .inner ul.right li {
    font-size: 11px;
    color: #000000;
    line-height: 16px;
    font-weight: 700;
  }
  .basket-section .big-wrapper .card-side .card-basket .options {
    padding: 0;
    display: none;
  }
  .basket-section .big-wrapper .card-side .card-basket .options .delete {
    font-size: 11px;
    color: #000000;
    line-height: 16px;
    font-weight: 400;
    color: #9a9da3;
  }
  .basket-section .big-wrapper .card-side .card-basket .options .increment {
    display: none;
  }
  .basket-section .big-wrapper .card-side .card-basket .options .per-price {
    display: none;
  }
  .basket-section .big-wrapper .card-side .card-basket .mobile-options {
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
  }
  .basket-section .big-wrapper .card-side .card-basket .mobile-options p {
    font-size: 20px;
    color: #000000;
    line-height: 24px;
    font-weight: 700;
  }
  .basket-section .big-wrapper .card-side .card-basket .mobile-options .increment {
    display: flex;
    gap: 24px;
    align-items: center;
  }
  .basket-section .big-wrapper .card-side .card-basket .mobile-delete {
    display: flex;
    margin-left: auto;
    margin-bottom: auto;
    margin-top: 0;
  }
  .basket-section .big-wrapper .card-side .card-basket .mobile-delete a {
    font-size: 11px;
    color: #000000;
    line-height: 16px;
    font-weight: 400;
    color: #9a9da3;
  }
  .basket-section .big-wrapper .price-side {
    width: 100%;
  }
  .basket-section .big-wrapper .price-side .receipt .name-price {
    margin-bottom: 4px;
  }
  .basket-section .big-wrapper .price-side .receipt .name-price h3 {
    font-size: 11px;
    color: #000000;
    line-height: 16px;
    font-weight: 400;
    color: #141515;
  }
  .basket-section .big-wrapper .price-side .receipt .name-price p {
    font-size: 13px;
    color: #000000;
    line-height: 20px;
    font-weight: 700;
    color: #141515;
  }
  .basket-section .big-wrapper .price-side .receipt .name-price:last-child {
    margin-bottom: 8px;
  }
  .basket-section .big-wrapper .price-side .receipt .total {
    border-top: 1px solid #513520;
    margin-bottom: 8px;
  }
  .basket-section .big-wrapper .price-side .receipt .total h3 {
    font-size: 13px;
    color: #000000;
    line-height: 20px;
    font-weight: 400;
    color: #141515;
  }
  .basket-section .big-wrapper .price-side .receipt .total p {
    font-size: 15px;
    color: #000000;
    line-height: 24px;
    font-weight: 700;
    color: #141515;
  }
  .basket-section .big-wrapper .price-side .receipt .custom-btn {
    color: #434443;
    width: 100%;
    text-align: center;
  }
  .basket-none-section .cont {
    height: 80vh;
    gap: 24px;
  }
  .basket-none-section h2 {
    font-size: 15px;
    color: #000000;
    line-height: 24px;
    font-weight: 700;
  }
  .order {
    padding: 108px 0 52px;
  }
  .order .order-side h2 {
    font-size: 15px;
    color: #000000;
    line-height: 24px;
    font-weight: 700;
    margin-bottom: 12px;
  }
  .order .order-side .grid form {
    display: flex;
    gap: 16px;
    flex-direction: column;
  }
  .order .order-side .grid form .first {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
    width: 100%;
    max-width: 100%;
  }
  .order .order-side .grid form .first input:nth-child(-n+2) {
    grid-column: span 2; /* Занимаем два столбца */
    grid-row: auto;
  }
  .order .order-side .grid form .first input:nth-child(n+3) {
    grid-column: span 2; /* Занимаем два столбца */
    grid-row: auto; /* Автоматическая строка */
  }
  .order .order-side .grid form .second {
    max-width: 100%;
  }
  .order .order-side .grid form .second h3 {
    font-size: 13px;
    color: #000000;
    line-height: 20px;
    font-weight: 400;
    color: #434443;
    margin-bottom: 4px;
  }
  .order .order-side .grid form .second textarea {
    height: 112px;
    font-size: 13px;
    color: #000000;
    line-height: 20px;
    font-weight: 400;
    border: 1px solid #9a9da3;
    padding: 8px 12px;
  }
  .order .order-side .grid form input {
    font-size: 13px;
    color: #000000;
    line-height: 20px;
    font-weight: 400;
  }
  #favourites {
    padding: 140px 0;
    position: relative;
  }
  #favourites .liked {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #513520;
    border-radius: 50%;
    position: absolute;
    z-index: 100;
    right: 16px;
    top: 16px;
  }
}/*# sourceMappingURL=responsive.css.map */