@import url("../src/fonts/Gilroy/stylesheet.css");

$gilroy: "Gilroy";
$gold: #bd8d44;
$gray: #343434;
$black: #000000;
$lightgray: #dfdfdf;

@mixin font($titleVal, $lineHeight, $fontWeight) {
  font-size: $titleVal;
  color: $black;
  line-height: $lineHeight;
  font-weight: $fontWeight;
}

* {
  font-family: $gilroy;
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 16px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a:hover {
  color: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none !important;
  color: white;
}
a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}
img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

section {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background: $gold;
  }
  &::-webkit-scrollbar-thumb {
    background: linear-gradient(
      112.92deg,
      rgba(255, 255, 255, 0.36) 10.45%,
      rgba(255, 255, 255, 0.09) 88.73%
    );
  }
}

dl,
ol,
ul,
p {
  margin-top: 0;
  margin-bottom: 0 !important;
}

.navbar {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 36px !important;
  max-width: 1296px;
  margin-left: auto;
  margin-right: auto;
  background: #434443;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-right: 1px solid #ababab;
  border-bottom: 1px solid #ababab;
  border-left: 1px solid #ababab;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.menu > li > a {
  text-decoration: none;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 25px;
  color: $black;
  transition: all 0.2s;
}

.cont {
  width: 100%;
  max-width: 1296px;
  margin-left: auto;
  margin-right: auto;
}

.custom-btn {
  border: 1px solid #9a9da3;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  @include font(15px, 24px, 700);
  display: inline-block;
  padding: 12px 36px;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../src/img/preloader_bg.jpg") no-repeat center center;
  overflow: hidden;
  z-index: 200;
}
.preloader .text-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  overflow: hidden;
  color: white;
  opacity: 0;
  justify-content: center;
  align-items: center;

  .item-preloader-3 {
    animation: rotate 2s linear infinite;
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}

header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 80px;
  transition: top 0.3s ease;

  .logo-menu {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;

    a {
      svg {
        width: 120px;
        height: 100%;
      }
    }

    .menu {
      width: 47%;
      padding: 0;

      li {
        a {
          @include font(15px, 24px, 400);
          color: #fffdf8;
          transition: all 0.2s;

          &:hover {
            font-weight: 700;
            color: $gold;
            transition: all 0.2s;
          }
        }
      }
    }
  }

  .menu {
    opacity: 1;
    transition: all 0.3s;

    .mobile-li {
      display: none;

      a {
        display: flex;
        gap: 12px;

        .icon {
          svg {
            width: 32px;
            height: 32px;
          }
        }

        p {
          @include font(15px, 24px, 700);
        }
      }
    }

    &.non-active {
      opacity: 0;
      transition: all 0.3s;
    }
  }

  .search-phone {
    width: 18%;
    display: flex;
    justify-content: end;
    gap: 20px;
    align-items: center;
    padding: 0;
    position: relative;

    .search {
      border-radius: 50%;
      background-color: #9a9da3;
      padding: 8px;
      width: 32px;
      height: 32px;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0;
      position: relative;
      transition: all 0.3s;

      svg {
        width: 100%;
        height: 100%;
      }
    }

    .phone {
      a {
        display: flex;
        gap: 12px;
        align-items: center;

        .icon {
          svg.with-search {
            width: 32px;
            height: 32px;
          }
        }

        p {
          @include font(15px, 24px, 700);
          color: #fffdf8;
        }
      }
    }

    .search-div {
      position: absolute;
      top: 1px;
      right: 164px;
      content: "";

      .search-section {
        form {
          input {
            background: bottom;
            border-bottom: 1px solid #9a9da3;
            @include font(15px, 24px, 700);
            color: #fffdf8;
            width: 0;
            transition: all 0.3s;
          }
        }
      }
    }

    &.active {
      .search-div {
        position: absolute;
        top: 0;
        right: 164px;
        content: "";

        .search-section {
          form {
            input {
              background: bottom;
              border-bottom: 1px solid #9a9da3;
              @include font(15px, 24px, 700);
              color: #fffdf8;
              width: 618px;
              transition: all 0.3s;
              position: relative;
              right: 3px;
              top: 1px;
            }
          }
        }
      }

      .search {
        position: relative;
        right: 620px;
        transition: all 0.3s;
      }
    }
  }
}

.home {
  position: relative;
  z-index: 1;
  background: url(../src/img/main_bg.jpeg) no-repeat center center;
  background-size: cover;

  .home-cont {
    display: flex;
  }

  .banner {
    margin-left: 88px;
    margin-top: 207px;
  }

  .wrapper-card {
    margin-top: 268px;
    margin-left: auto;
    margin-bottom: 172px;

    .main-card {
      display: flex;
      max-width: 720px;
      width: 100%;
      height: 380px;
      border-radius: 30px;
      border: 1px solid #ababab;
      background: rgba(255, 255, 255, 0.2);
      // backdrop-filter: blur(6px);
      padding: 36px 28px 52px 48px;
      gap: 89px;

      .first-wrapper {
        h1 {
          @include font(50px, 56px, 700);
          color: #bd8d44;
          margin: 0;
          max-width: 530px;
          margin-bottom: 20px;
        }

        p {
          @include font(15px, 24px, 400);
          color: #434443;
          max-width: 528px;
        }

        .btns {
          display: flex;
          gap: 24px;
          margin-top: 40px;

          a {
            border-radius: 10px;
            border: 1px solid var(--Text-3, #9a9da3);
            background: rgba(255, 255, 255, 0.1);
            padding: 12px 36px;
            @include font(15px, 24px, 700);
            color: #434443;

            &:last-child {
              background-color: #f5f4f0;
              border: none;
            }
          }
        }
      }

      .second-wrapper {
        display: flex;
        flex-direction: column;
        gap: 24px;
        justify-content: center;

        svg {
          width: 24px;
          height: 24px;

          path {
            transition: all 0.3s;
          }

          &:hover {
            path {
              fill: $gold;
              transition: all 0.3s;
            }
          }
        }
      }
    }
  }
}

.to_catalog {
  position: relative;
  padding: 100px 0 80px;
  background-color: #fffdf8;

  .big-cards {
    display: flex;
    gap: 20px;

    .big-item {
      max-width: 638px;
      width: 100%;
      height: 676px;
      border-radius: 20px;
      border: 1px solid #9a9da3;
      overflow: hidden;

      .wrapper-img {
        overflow: hidden;
        max-height: 584px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          object-position: center;
        }
      }

      .info-item {
        padding: 16px 24px 24px;
        display: flex;

        .title {
          h2 {
            @include font(15px, 24px, 700);
            margin: 0;
          }

          p {
            @include font(15px, 24px, 400);
          }
        }

        a {
          border-radius: 50%;
          margin-left: auto;
          border: 1px solid #434443;
          width: 52px;
          height: 52px;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-shrink: 0;
        }
      }
    }
  }

  .small-cards {
    margin-top: 20px;
    position: relative;

    .swiper-small-cards {
      width: 100%;
      max-width: 100%;

      .swiper-slide {
        .img-wrapper {
          border-radius: 15px;
          overflow: hidden;
          border: 1px solid #9a9da3;
          height: 312px;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        .title {
          h2 {
            @include font(15px, 24px, 700);
            margin: 0;
          }

          p {
            @include font(15px, 24px, 400);
            margin: 0;
          }
        }
      }
    }

    .to_catalog_next {
      right: -60px;

      &::after {
        position: relative;
        left: 1px;
      }
    }

    .to_catalog_prev {
      left: -60px;

      &::after {
        position: relative;
        right: 1px;
      }
    }

    .to_catalog_next,
    .to_catalog_prev {
      color: #141515;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: 1px solid #9a9da3;

      &::after {
        font-size: 15px;
      }
    }
  }

  .small-cards-2 {
    display: none;
  }

  .div-btn {
    width: 100%;
    display: flex;

    a {
      margin-top: 40px;
      margin-left: auto;
      margin-right: auto;
      @include font(15px, 24px, 700);
      color: #434443;
    }
  }

  .big-cards-2 {
    display: none;
  }
}

.about {
  position: relative;
  padding: 80px 0 40px;
  background-color: #f5f4f0;

  .heading {
    display: flex;
    gap: 10px;
    align-items: center;

    .line {
      width: 50px;
      height: 4px;
      background-color: #513520;
      flex-shrink: 0;
      border-radius: 2px;
    }

    h2 {
      @include font(28px, 32px, 700);
      color: #141515;
      margin: 0;
    }
  }

  .desc {
    margin-top: 24px;

    p {
      @include font(15px, 24px, 400);
      margin: 0;
      column-gap: 20px;
      column-count: 2;

      span {
        @include font(15px, 24px, 700);
      }
    }
  }

  .gallery-wrapper {
    margin-top: 47px;
    position: relative;

    .gallery-swiper {
      width: 100%;
      height: 100%;

      .swiper-slide {
        max-width: 1296px;
        width: 100%;
      }

      .grid {
        display: grid;
        grid-template-columns: 2fr 1.5fr;
        gap: 20px;
        width: 100%;
        height: 100%;

        .item:nth-child(1n) .item-inn {
          height: 344px;
        }
        .item:nth-child(2n) .item-inn {
          height: 408px;
        }
        .item:nth-child(3n) .item-inn {
          height: 408px;
          margin-top: -60px;
        }
        .item:nth-child(4n) .item-inn {
          height: 344px;
        }

        .item {
          height: 408px;
          width: 100%;
        }
        .item-inn {
          border-radius: 20px;
          overflow: hidden;
          border: 1px solid #9a9da3;

          img {
            width: 100%;
            height: 100%;
            object-position: center;
            object-fit: cover;
          }
        }
      }
    }

    .about_galley_prev,
    .about_galley_next {
      width: 48px;
      height: 48px;
      border: 1px solid #9a9da3;
      border-radius: 50%;

      &::after {
        font-size: 15px;
        color: #141515;
      }
    }

    .about_galley_next {
      right: -60px;
    }

    .about_galley_prev {
      left: -60px;
    }
  }
}

.contacts {
  padding: 70px 0;
  position: relative;
  background-color: #fffdf8;

  .heading {
    display: flex;
    justify-content: space-between;

    .first {
      display: flex;
      gap: 10px;
      align-items: center;

      .line {
        width: 50px;
        height: 4px;
        border-radius: 2px;
        background-color: #513520;
        flex-shrink: 0;
      }

      h2 {
        @include font(28px, 32px, 700);
        margin: 0;
        color: #141515;
      }
    }

    .custom-tabby {
      border: none;
      display: flex;
      gap: 20px;

      li {
        a {
          padding: 12px 36px;
          display: inline-flex;
          border-radius: 10px;
          border: 1px solid #9a9da3;
          background: rgba(255, 255, 255, 0.1);
          @include font(15px, 24px, 700);
          color: #434443;
          transition: all 0.3s;
        }

        [role="tab"][aria-selected="true"] {
          border: 1px solid #f5f4f0;
          background-color: #f5f4f0;
          transition: all 0.3s;
        }
      }
    }
  }

  .city {
    margin-top: 24px;

    display: flex;
    gap: 20px;

    .first {
      padding: 32px 24px 24px;
      border-radius: 15px;
      border: 1px solid #9a9da3;
      background-color: #f5f4f0;
      max-width: 336px;
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 382px;

      .logo {
        margin-bottom: 32px;

        svg {
          width: 120px;
        }
      }

      h2 {
        @include font(20px, 24px, 700);
        margin: 0;
        margin-bottom: 8px;

        br {
          display: block;
        }
      }

      p {
        @include font(19px, 32px, 400);
        margin: 0;

        &:last-child {
          margin-top: auto !important;
        }
      }
    }

    .second {
      border-radius: 15px;
      border: 1px solid #9a9da3;
      max-width: 488px;
      width: 100%;
      height: 382px;
      overflow: hidden;
    }

    .third {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      max-width: 432px;
      width: 100%;
      height: 382px;

      .top {
        border-radius: 15px;
        border: 1px solid #9a9da3;
        padding: 24px;
        display: flex;
        width: 100%;
        background-color: #f5f4f0;

        .left {
          h2 {
            @include font(20px, 24px, 700);
            margin: 0;

            &:first-child {
              margin-bottom: 18px;
            }
          }
        }

        .arrow {
          margin-left: auto;
          margin-bottom: auto;
          transition: all 0.3s;
        }

        &:hover {
          .arrow {
            transform: rotate(45deg);
            transition: all 0.3s;
          }
        }

        .bottom {
          display: flex;
          gap: 24px;
        }
      }
    }
  }
}

footer {
  padding: 32px 0 36px;
  background-color: #434443;

  .foot-cont {
    display: flex;

    svg {
      width: 120px;
    }

    .last {
      margin-left: 386px;
      display: flex;
      gap: 335px;
    }

    a {
      @include font(19px, 32px, 400);
      color: #fffdf8;

      &:last-child {
        @include font(19px, 32px, 700);
        color: #fffdf8;
      }
    }
  }
}

.modal-dialog {
  // max-width: 340px;
  border-radius: 20px;
  justify-content: center;
}

.modal-content {
  width: 100%;
  border-radius: 20px !important;
  max-width: 340px;
  border: none !important;
}

.modal-body {
  position: relative;
  z-index: 1;
  background-color: #fffdf8;
  max-width: 340px;
  width: 100%;
  padding: 20px 32px !important;
  border-radius: 20px;

  .heading {
    margin-bottom: 16px;

    h1 {
      text-align: center;
      @include font(28px, 32px, 700);
      margin: 0;
      color: #141515;
    }
  }

  form {
    display: flex;
    flex-direction: column;

    input {
      max-width: 100%;
      width: 100%;
      background: bottom;
      border-bottom: 1px solid #513520;
      padding: 0 0 5px 0;
      margin-bottom: 24px;
      @include font(13px, 12px, 400);
      color: $black;
    }

    input#modal-btn {
      border: 1px solid #9a9da3;
      border-radius: 10px;
      @include font(15px, 24px, 700);
      margin: 0;
      padding: 12px 0;
      width: 100%;
      color: #434443;
    }
  }
}

.contacts_page {
  padding: 144px 0 218px;
}

.reviews {
  padding: 144px 0 72px;
  position: relative;
  background-color: #fffdf8;

  .cont {
    display: flex;
    flex-direction: column;
  }

  .heading {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 24px;

    .line {
      width: 50px;
      height: 4px;
      border-radius: 2px;
      background-color: #513520;
      flex-shrink: 0;
    }

    h1 {
      @include font(28px, 32px, 700);
      margin: 0;
      color: #141515;
    }
  }

  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    gap: 28px;

    .item {
      border-radius: 15px;
      border: 1px solid #9a9da3;
      padding: 26px 24px;
      background-color: #fffdf8;
      max-width: 634px;
      width: 100%;
      margin-bottom: 28px;

      .top {
        display: flex;
        gap: 20px;

        .img-wrapper {
          flex-shrink: 0;
          border-radius: 50%;
          width: 84px;
          height: 84px;
          overflow: hidden;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
          }
        }

        .name-rating {
          display: flex;
          flex-direction: column;
          gap: 8px;
          justify-content: center;

          h3 {
            margin: 0;
            @include font(17px, 28px, 700);
          }

          .stars {
            display: flex;
            gap: 1px;
            flex-shrink: 0;
          }
        }
      }

      .comment {
        margin-top: 16px;

        p {
          @include font(15px, 24px, 400);
        }
      }
    }
  }

  .custom-btn {
    @include font(15px, 24px, 700);
    color: #434443;
    margin-top: 44px;
    margin-left: auto;
    margin-right: auto;
  }
}

.thx {
  height: 100vh;
  background: linear-gradient(
      0deg,
      #fffdf8 0%,
      rgba(255, 253, 248, 0.95) 23.18%,
      rgba(255, 253, 248, 0.59) 39.03%,
      rgba(255, 253, 248, 0) 51.37%
    ),
    url("../src/img/bout_bg.jpeg"), lightgray 50% / cover no-repeat;
  // background-image: url("../src/img/bout_bg.jpeg");
  background-position: center;
  background-size: cover;

  .cont {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h1 {
      @include font(50px, 56px, 700);
      margin: 0;
      color: #141515;
    }

    a {
      @include font(15px, 24px, 700);
      color: #434443;
      margin-top: 24px;
    }
  }
}
