@charset "UTF-8";
@import url("../src/fonts/Gilroy/stylesheet.css");
* {
  font-family: "Gilroy";
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 16px;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

a:hover {
  color: inherit;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none !important;
  color: white;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

section {
  overflow: hidden;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}
html::-webkit-scrollbar {
  width: 1rem;
}
html::-webkit-scrollbar-track {
  background: #bd8d44;
}
html::-webkit-scrollbar-thumb {
  background: linear-gradient(112.92deg, rgba(255, 255, 255, 0.36) 10.45%, rgba(255, 255, 255, 0.09) 88.73%);
}

dl,
ol,
ul,
p {
  margin-top: 0;
  margin-bottom: 0 !important;
}

.navbar {
  position: relative;
  left: 0;
  top: 0;
  width: 100%;
  height: 80px;
  padding: 0 36px !important;
  max-width: 1296px;
  margin-left: auto;
  margin-right: auto;
  background: #434443;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-right: 1px solid #ababab;
  border-bottom: 1px solid #ababab;
  border-left: 1px solid #ababab;
}

.navbar__wrap {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

.hamb {
  display: none;
}

.popup {
  display: none;
}

.logo {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
}

.menu > li > a {
  text-decoration: none;
}

.navbar__wrap .menu {
  display: flex;
}

.navbar__wrap .menu > li {
  display: flex;
  align-items: stretch;
}

.navbar__wrap .menu > li > a {
  display: flex;
  align-items: center;
  padding: 0 25px;
  color: #000000;
  transition: all 0.2s;
}

.cont {
  width: 100%;
  max-width: 1296px;
  margin-left: auto;
  margin-right: auto;
}

.custom-btn {
  border: 1px solid #9a9da3;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.1);
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 700;
  display: inline-block;
  padding: 12px 36px;
}

.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background: url("../src/img/preloader_bg.jpg") no-repeat center center;
  overflow: hidden;
  z-index: 200;
  height: 100vh;
  transition: all 0.5s;
}

.preloader.show {
  height: 0vh;
  transition: all 0.5s;
}

.preloader .text-container {
  display: flex;
  flex-direction: column;
  gap: 2em;
  overflow: hidden;
  color: white;
  opacity: 1;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.preloader .text-container .item-preloader-3 {
  animation: rotate 2s linear infinite;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

header {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 80px;
  transition: top 0.3s ease;
}
header .logo-menu {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}
header .logo-menu a svg {
  width: 120px;
  height: 100%;
}
header .logo-menu .menu {
  width: 47%;
  padding: 0;
}
header .logo-menu .menu li a {
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 400;
  color: #fffdf8;
  transition: all 0.2s;
}
header .logo-menu .menu li a:hover {
  font-weight: 700;
  color: #bd8d44;
  transition: all 0.2s;
}
header .menu {
  opacity: 1;
  transition: all 0.3s;
}
header .menu .mobile-li {
  display: none;
}
header .menu .mobile-li a {
  display: flex;
  gap: 12px;
}
header .menu .mobile-li a .icon svg {
  width: 32px;
  height: 32px;
}
header .menu .mobile-li a p {
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 700;
}
header .menu.non-active {
  opacity: 0;
  transition: all 0.3s;
}
header .search-phone {
  width: 26%;
  display: flex;
  justify-content: end;
  gap: 20px;
  align-items: center;
  padding: 0;
  position: relative;
}
header .search-phone .search {
  border-radius: 50%;
  background-color: #9a9da3;
  padding: 8px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  right: 0;
  position: relative;
  transition: all 0.3s;
}
header .search-phone .search svg {
  width: 100%;
  height: 100%;
}
header .search-phone .favourites {
  position: relative;
}
header .search-phone .favourites span {
  display: flex;
  align-items: center;
  justify-content: center;
  top: -4px;
  right: -4px;
  position: absolute;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: #c70000;
  font-size: 11px;
  color: #000000;
  line-height: 16px;
  font-weight: 700;
  color: white;
}
header .search-phone .favourites a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #9a9da3;
  border-radius: 50%;
  padding: 8px;
}
header .search-phone .basket {
  position: relative;
}
header .search-phone .basket span {
  display: flex;
  align-items: center;
  justify-content: center;
  top: -4px;
  right: -4px;
  position: absolute;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  background-color: #c70000;
  font-size: 11px;
  color: #000000;
  line-height: 16px;
  font-weight: 700;
  color: white;
}
header .search-phone .basket a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #9a9da3;
  border-radius: 50%;
  padding: 8px;
}
header .search-phone .phone a {
  display: flex;
  gap: 12px;
  align-items: center;
}
header .search-phone .phone a .icon svg.with-search {
  width: 32px;
  height: 32px;
}
header .search-phone .phone a p {
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 700;
  color: #fffdf8;
}
header .search-phone .search-div {
  position: absolute;
  top: 1px;
  right: 265px;
  content: "";
}
header .search-phone .search-div .search-section form input {
  background: bottom;
  border-bottom: 1px solid #9a9da3;
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 700;
  color: #fffdf8;
  width: 0;
  transition: all 0.3s;
}
header .search-phone.active .search-div {
  position: absolute;
  top: 0;
  right: 265px;
  content: "";
}
header .search-phone.active .search-div .search-section form input {
  background: bottom;
  border-bottom: 1px solid #9a9da3;
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 700;
  color: #fffdf8;
  width: 618px;
  transition: all 0.3s;
  position: relative;
  right: 3px;
  top: 1px;
}
header .search-phone.active .search {
  position: relative;
  right: 620px;
  transition: all 0.3s;
}

.home {
  position: relative;
  z-index: 1;
  background: url(../src/img/main_bg.png) no-repeat center center;
  background-size: cover;
  height: 96vh;
}
.home .home-cont {
  display: flex;
  height: 100%;
}
.home .banner {
  margin-left: 88px;
  margin-top: 207px;
}
.home .wrapper-card {
  margin-top: auto;
  margin-left: auto;
  margin-bottom: 172px;
}
.home .wrapper-card .main-card {
  display: flex;
  max-width: 720px;
  width: 100%;
  height: 380px;
  border-radius: 30px;
  border: 1px solid #ababab;
  background: rgba(255, 255, 255, 0.2);
  padding: 36px 28px 52px 48px;
  gap: 89px;
}
.home .wrapper-card .main-card .first-wrapper h1 {
  font-size: 50px;
  color: #000000;
  line-height: 56px;
  font-weight: 700;
  color: #bd8d44;
  margin: 0;
  max-width: 530px;
  margin-bottom: 20px;
}
.home .wrapper-card .main-card .first-wrapper p {
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 400;
  color: #434443;
  max-width: 528px;
}
.home .wrapper-card .main-card .first-wrapper .btns {
  display: flex;
  gap: 24px;
  margin-top: 40px;
}
.home .wrapper-card .main-card .first-wrapper .btns a {
  border-radius: 10px;
  border: 1px solid var(--Text-3, #9a9da3);
  background: rgba(255, 255, 255, 0.1);
  padding: 12px 36px;
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 700;
  color: #434443;
}
.home .wrapper-card .main-card .first-wrapper .btns a:last-child {
  background-color: #f5f4f0;
  border: none;
}
.home .wrapper-card .main-card .second-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
}
.home .wrapper-card .main-card .second-wrapper svg {
  width: 24px;
  height: 24px;
}
.home .wrapper-card .main-card .second-wrapper svg path {
  transition: all 0.3s;
}
.home .wrapper-card .main-card .second-wrapper svg:hover path {
  fill: #bd8d44;
  transition: all 0.3s;
}

.to_catalog {
  position: relative;
  padding: 100px 0 80px;
  background-color: #fffdf8;
}
.to_catalog .big-cards {
  display: flex;
  gap: 20px;
}
.to_catalog .big-cards .big-item {
  max-width: 638px;
  width: 100%;
  height: 676px;
  border-radius: 20px;
  border: 1px solid #9a9da3;
  overflow: hidden;
}
.to_catalog .big-cards .big-item .wrapper-img {
  overflow: hidden;
  max-height: 584px;
}
.to_catalog .big-cards .big-item .wrapper-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.to_catalog .big-cards .big-item .info-item {
  padding: 16px 24px 24px;
  display: flex;
}
.to_catalog .big-cards .big-item .info-item .title h2 {
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
}
.to_catalog .big-cards .big-item .info-item .title p {
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 400;
}
.to_catalog .big-cards .big-item .info-item a {
  border-radius: 50%;
  margin-left: auto;
  border: 1px solid #434443;
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
.to_catalog .small-cards {
  margin-top: 20px;
  position: relative;
}
.to_catalog .small-cards .swiper-small-cards {
  width: 100%;
  max-width: 100%;
}
.to_catalog .small-cards .swiper-small-cards .swiper-slide .img-wrapper {
  border-radius: 15px;
  overflow: hidden;
  border: 1px solid #9a9da3;
  height: 312px;
}
.to_catalog .small-cards .swiper-small-cards .swiper-slide .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.to_catalog .small-cards .swiper-small-cards .swiper-slide .title h2 {
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
}
.to_catalog .small-cards .swiper-small-cards .swiper-slide .title p {
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
}
.to_catalog .small-cards .to_catalog_next {
  right: -60px;
}
.to_catalog .small-cards .to_catalog_next::after {
  position: relative;
  left: 1px;
}
.to_catalog .small-cards .to_catalog_prev {
  left: -60px;
}
.to_catalog .small-cards .to_catalog_prev::after {
  position: relative;
  right: 1px;
}
.to_catalog .small-cards .to_catalog_next,
.to_catalog .small-cards .to_catalog_prev {
  color: #141515;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 1px solid #9a9da3;
}
.to_catalog .small-cards .to_catalog_next::after,
.to_catalog .small-cards .to_catalog_prev::after {
  font-size: 15px;
}
.to_catalog .small-cards-2 {
  display: none;
}
.to_catalog .div-btn {
  width: 100%;
  display: flex;
}
.to_catalog .div-btn a {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 700;
  color: #434443;
}
.to_catalog .big-cards-2 {
  display: none;
}

.about {
  position: relative;
  padding: 80px 0 40px;
  background-color: #f5f4f0;
}
.about .heading {
  display: flex;
  gap: 10px;
  align-items: center;
}
.about .heading .line {
  width: 50px;
  height: 4px;
  background-color: #513520;
  flex-shrink: 0;
  border-radius: 2px;
}
.about .heading h2 {
  font-size: 28px;
  color: #000000;
  line-height: 32px;
  font-weight: 700;
  color: #141515;
  margin: 0;
}
.about .desc {
  margin-top: 24px;
}
.about .desc p {
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  -moz-column-gap: 20px;
       column-gap: 20px;
  -moz-column-count: 2;
       column-count: 2;
}
.about .desc p span {
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 700;
}
.about .gallery-wrapper {
  margin-top: 47px;
  position: relative;
}
.about .gallery-wrapper .gallery-swiper {
  width: 100%;
  height: 100%;
}
.about .gallery-wrapper .gallery-swiper .swiper-slide {
  max-width: 1296px;
  width: 100%;
}
.about .gallery-wrapper .gallery-swiper .grid {
  display: grid;
  grid-template-columns: 2fr 1.5fr;
  gap: 20px;
  width: 100%;
  height: 100%;
}
.about .gallery-wrapper .gallery-swiper .grid .item:nth-child(1n) .item-inn {
  height: 344px;
}
.about .gallery-wrapper .gallery-swiper .grid .item:nth-child(2n) .item-inn {
  height: 408px;
}
.about .gallery-wrapper .gallery-swiper .grid .item:nth-child(3n) .item-inn {
  height: 408px;
  margin-top: -60px;
}
.about .gallery-wrapper .gallery-swiper .grid .item:nth-child(4n) .item-inn {
  height: 344px;
}
.about .gallery-wrapper .gallery-swiper .grid .item {
  height: 408px;
  width: 100%;
}
.about .gallery-wrapper .gallery-swiper .grid .item-inn {
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid #9a9da3;
}
.about .gallery-wrapper .gallery-swiper .grid .item-inn img {
  width: 100%;
  height: 100%;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
}
.about .gallery-wrapper .about_galley_prev,
.about .gallery-wrapper .about_galley_next {
  width: 48px;
  height: 48px;
  border: 1px solid #9a9da3;
  border-radius: 50%;
}
.about .gallery-wrapper .about_galley_prev::after,
.about .gallery-wrapper .about_galley_next::after {
  font-size: 15px;
  color: #141515;
}
.about .gallery-wrapper .about_galley_next {
  right: -60px;
}
.about .gallery-wrapper .about_galley_prev {
  left: -60px;
}

.instagram {
  padding: 80px 0 0 0;
}
.instagram .heading .first {
  display: flex;
  gap: 10px;
  align-items: center;
}
.instagram .heading .first .line {
  width: 50px;
  height: 4px;
  border-radius: 2px;
  background-color: #513520;
  flex-shrink: 0;
}
.instagram .heading .first h2 {
  font-size: 28px;
  color: #000000;
  line-height: 32px;
  font-weight: 700;
  margin: 0;
  color: #141515;
}
.instagram .widbox-footer-container {
  opacity: 0;
  visibility: hidden;
}

.contacts {
  padding: 70px 0;
  position: relative;
  background-color: #fffdf8;
}
.contacts .heading {
  display: flex;
  justify-content: space-between;
}
.contacts .heading .first {
  display: flex;
  gap: 10px;
  align-items: center;
}
.contacts .heading .first .line {
  width: 50px;
  height: 4px;
  border-radius: 2px;
  background-color: #513520;
  flex-shrink: 0;
}
.contacts .heading .first h2 {
  font-size: 28px;
  color: #000000;
  line-height: 32px;
  font-weight: 700;
  margin: 0;
  color: #141515;
}
.contacts .heading .custom-tabby {
  border: none;
  display: flex;
  gap: 20px;
}
.contacts .heading .custom-tabby li a {
  padding: 12px 36px;
  display: inline-flex;
  border-radius: 10px;
  border: 1px solid #9a9da3;
  background: rgba(255, 255, 255, 0.1);
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 700;
  color: #434443;
  transition: all 0.3s;
}
.contacts .heading .custom-tabby li [role=tab][aria-selected=true] {
  border: 1px solid #f5f4f0;
  background-color: #f5f4f0;
  transition: all 0.3s;
}
.contacts .city {
  margin-top: 24px;
  display: flex;
  gap: 20px;
}
.contacts .city .first {
  padding: 32px 24px 24px;
  border-radius: 15px;
  border: 1px solid #9a9da3;
  background-color: #f5f4f0;
  max-width: 336px;
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 382px;
}
.contacts .city .first .logo {
  margin-bottom: 32px;
}
.contacts .city .first .logo svg {
  width: 120px;
}
.contacts .city .first h2 {
  font-size: 20px;
  color: #000000;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 8px;
}
.contacts .city .first h2 br {
  display: block;
}
.contacts .city .first p {
  font-size: 19px;
  color: #000000;
  line-height: 32px;
  font-weight: 400;
  margin: 0;
}
.contacts .city .first p:last-child {
  margin-top: auto !important;
}
.contacts .city .second {
  border-radius: 15px;
  border: 1px solid #9a9da3;
  max-width: 488px;
  width: 100%;
  height: 382px;
  overflow: hidden;
}
.contacts .city .third {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 432px;
  width: 100%;
  height: 382px;
}
.contacts .city .third .top {
  border-radius: 15px;
  border: 1px solid #9a9da3;
  padding: 24px;
  display: flex;
  width: 100%;
  background-color: #f5f4f0;
}
.contacts .city .third .top .left h2 {
  font-size: 20px;
  color: #000000;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
}
.contacts .city .third .top .left h2:first-child {
  margin-bottom: 18px;
}
.contacts .city .third .top .arrow {
  margin-left: auto;
  margin-bottom: auto;
  transition: all 0.3s;
}
.contacts .city .third .top:hover .arrow {
  transform: rotate(45deg);
  transition: all 0.3s;
}
.contacts .city .third .top .bottom {
  display: flex;
  gap: 24px;
}

footer {
  padding: 32px 0 36px;
  background-color: #434443;
}
footer .foot-cont {
  display: flex;
}
footer .foot-cont svg {
  width: 120px;
}
footer .foot-cont .last {
  margin-left: 386px;
  display: flex;
  gap: 335px;
}
footer .foot-cont a {
  font-size: 19px;
  color: #000000;
  line-height: 32px;
  font-weight: 400;
  color: #fffdf8;
}
footer .foot-cont a:last-child {
  font-size: 19px;
  color: #000000;
  line-height: 32px;
  font-weight: 700;
  color: #fffdf8;
}

.modal-dialog {
  border-radius: 20px;
  justify-content: center;
}

.modal-content {
  width: 100%;
  border-radius: 20px !important;
  max-width: 340px;
  border: none !important;
}

.modal-body {
  position: relative;
  z-index: 1;
  background-color: #fffdf8;
  max-width: 340px;
  width: 100%;
  padding: 20px 32px !important;
  border-radius: 20px;
}
.modal-body .heading {
  margin-bottom: 16px;
}
.modal-body .heading h1 {
  text-align: center;
  font-size: 28px;
  color: #000000;
  line-height: 32px;
  font-weight: 700;
  margin: 0;
  color: #141515;
}
.modal-body form {
  display: flex;
  flex-direction: column;
}
.modal-body form input {
  max-width: 100%;
  width: 100%;
  background: bottom;
  border-bottom: 1px solid #513520;
  padding: 0 0 5px 0;
  margin-bottom: 24px;
  font-size: 13px;
  color: #000000;
  line-height: 12px;
  font-weight: 400;
  color: #000000;
}
.modal-body form input#modal-btn {
  border: 1px solid #9a9da3;
  border-radius: 10px;
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 700;
  margin: 0;
  padding: 12px 0;
  width: 100%;
  color: #434443;
}

.contacts_page {
  padding: 144px 0 218px;
}

.reviews {
  padding: 144px 0 72px;
  position: relative;
  background-color: #fffdf8;
}
.reviews .cont {
  display: flex;
  flex-direction: column;
}
.reviews .heading {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 24px;
}
.reviews .heading .line {
  width: 50px;
  height: 4px;
  border-radius: 2px;
  background-color: #513520;
  flex-shrink: 0;
}
.reviews .heading h1 {
  font-size: 28px;
  color: #000000;
  line-height: 32px;
  font-weight: 700;
  margin: 0;
  color: #141515;
}
.reviews .grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  gap: 28px;
}
.reviews .grid .item {
  border-radius: 15px;
  border: 1px solid #9a9da3;
  padding: 26px 24px;
  background-color: #fffdf8;
  max-width: 634px;
  width: 100%;
  margin-bottom: 28px;
}
.reviews .grid .item .top {
  display: flex;
  gap: 20px;
}
.reviews .grid .item .top .img-wrapper {
  flex-shrink: 0;
  border-radius: 50%;
  width: 84px;
  height: 84px;
  overflow: hidden;
}
.reviews .grid .item .top .img-wrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
.reviews .grid .item .top .name-rating {
  display: flex;
  flex-direction: column;
  gap: 8px;
  justify-content: center;
}
.reviews .grid .item .top .name-rating h3 {
  margin: 0;
  font-size: 17px;
  color: #000000;
  line-height: 28px;
  font-weight: 700;
}
.reviews .grid .item .top .name-rating .stars {
  display: flex;
  gap: 1px;
  flex-shrink: 0;
}
.reviews .grid .item .comment {
  margin-top: 16px;
}
.reviews .grid .item .comment p {
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 400;
}
.reviews .custom-btn {
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 700;
  color: #434443;
  margin-top: 44px;
  margin-left: auto;
  margin-right: auto;
}

.thx {
  height: 100vh;
  background: linear-gradient(0deg, #fffdf8 0%, rgba(255, 253, 248, 0.95) 23.18%, rgba(255, 253, 248, 0.59) 39.03%, rgba(255, 253, 248, 0) 51.37%), url("../src/img/bout_bg.jpeg"), lightgray 50%/cover no-repeat;
  background-position: center;
  background-size: cover;
}
.thx .cont {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.thx .cont h1 {
  font-size: 50px;
  color: #000000;
  line-height: 56px;
  font-weight: 700;
  margin: 0;
  color: #141515;
}
.thx .cont a {
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 700;
  color: #434443;
  margin-top: 24px;
}

.basket-section {
  position: relative;
  background-color: #fffdf8;
  padding: 140px 0 170px;
}
.basket-section .heading {
  display: flex;
  gap: 10px;
  align-items: center;
}
.basket-section .heading .line {
  width: 50px;
  height: 4px;
  flex-shrink: 0;
  background-color: #513520;
}
.basket-section .heading h1 {
  font-size: 28px;
  color: #000000;
  line-height: 32px;
  font-weight: 700;
  color: #141515;
  margin: 0;
}
.basket-section .big-wrapper {
  display: flex;
  gap: 28px;
  width: 100%;
  margin-top: 40px;
}
.basket-section .big-wrapper .card-side {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.basket-section .big-wrapper .card-side .wrapper {
  display: flex;
}
.basket-section .big-wrapper .card-side .card-basket {
  display: flex;
  background-color: #f5f4f0;
  border-radius: 15px;
}
.basket-section .big-wrapper .card-side .card-basket .img-wrapper {
  height: 200px;
  max-width: 194px;
  width: 100%;
  border-radius: 15px;
  overflow: hidden;
}
.basket-section .big-wrapper .card-side .card-basket .img-wrapper img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
  width: 100%;
  height: 100%;
}
.basket-section .big-wrapper .card-side .card-basket .name-specifications {
  margin-left: 32px;
  padding: 16px 0;
}
.basket-section .big-wrapper .card-side .card-basket .name-specifications h2 {
  font-size: 24px;
  color: #000000;
  line-height: 32px;
  font-weight: 700;
  color: #141515;
  margin-bottom: 16px;
}
.basket-section .big-wrapper .card-side .card-basket .name-specifications .specifications h3 {
  font-size: 17px;
  color: #000000;
  line-height: 28px;
  font-weight: 700;
  color: #141515;
  margin-bottom: 12px;
}
.basket-section .big-wrapper .card-side .card-basket .name-specifications .specifications .inner {
  display: flex;
  gap: 42px;
}
.basket-section .big-wrapper .card-side .card-basket .name-specifications .specifications .inner ul {
  padding: 0;
  gap: 4px;
  display: flex;
  flex-direction: column;
}
.basket-section .big-wrapper .card-side .card-basket .name-specifications .specifications .inner ul.left li {
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 400;
}
.basket-section .big-wrapper .card-side .card-basket .name-specifications .specifications .inner ul.right li {
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 700;
}
.basket-section .big-wrapper .card-side .card-basket .options {
  margin-left: auto;
  padding: 16px 20px 16px;
  display: flex;
  flex-direction: column;
  align-items: end;
}
.basket-section .big-wrapper .card-side .card-basket .options .delete {
  font-size: 17px;
  color: #000000;
  line-height: 28px;
  font-weight: 400;
  color: #9a9da3;
}
.basket-section .big-wrapper .card-side .card-basket .options .increment {
  display: flex;
  gap: 24px;
  align-items: center;
  margin-top: auto;
  margin-bottom: 12px;
}
.basket-section .big-wrapper .card-side .card-basket .options .per-price p {
  font-size: 20px;
  color: #000000;
  line-height: 24px;
  font-weight: 700;
  color: #141515;
}
.basket-section .big-wrapper .card-side .card-basket .mobile-options {
  display: none;
}
.basket-section .big-wrapper .price-side {
  width: 26%;
}
.basket-section .big-wrapper .price-side .receipt {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 16px 20px;
}
.basket-section .big-wrapper .price-side .receipt .name-price {
  margin-bottom: 12px;
}
.basket-section .big-wrapper .price-side .receipt .name-price h3 {
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 400;
  color: #141515;
  margin: 0;
}
.basket-section .big-wrapper .price-side .receipt .name-price p {
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 700;
  color: #141515;
}
.basket-section .big-wrapper .price-side .receipt .name-price:last-child {
  margin-bottom: 16px;
}
.basket-section .big-wrapper .price-side .receipt .total {
  border-top: 1px solid #513520;
  margin-bottom: 28px;
}
.basket-section .big-wrapper .price-side .receipt .total h3 {
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 400;
  margin: 0;
  color: #141515;
}
.basket-section .big-wrapper .price-side .receipt .total p {
  font-size: 20px;
  color: #000000;
  line-height: 24px;
  font-weight: 700;
  color: #141515;
}
.basket-section .big-wrapper .price-side .receipt .custom-btn {
  color: #434443;
}

.basket-none-section {
  background: #fffdf8;
  position: relative;
}
.basket-none-section .cont {
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.basket-none-section h2 {
  font-size: 17px;
  color: #000000;
  line-height: 28px;
  font-weight: 700;
}
.basket-none-section .custom-btn {
  color: #434443;
}

.order {
  padding: 144px 0 200px;
  position: relative;
  background-color: #fffdf8;
}
.order .order-side {
  width: 100%;
}
.order .order-side h2 {
  font-size: 19px;
  color: #000000;
  line-height: 32px;
  font-weight: 700;
  margin-bottom: 16px;
}
.order .order-side .grid {
  width: 100%;
}
.order .order-side .grid form {
  display: flex;
  gap: 28px;
}
.order .order-side .grid form .first {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 28px;
  width: 100%;
  max-width: 528px;
}
.order .order-side .grid form .first input:nth-child(-n+2) {
  grid-column: span 1; /* Занимаем один столбец */
  grid-row: 1; /* Находятся в первой строке */
}
.order .order-side .grid form .first input:nth-child(n+3) {
  grid-column: span 2; /* Занимаем два столбца */
  grid-row: auto; /* Автоматическая строка */
}
.order .order-side .grid form .second {
  max-width: 452px;
  width: 100%;
}
.order .order-side .grid form .second h3 {
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 400;
  color: #434443;
  margin-bottom: 8px;
}
.order .order-side .grid form .second textarea {
  height: 284px;
  width: 100%;
  resize: none;
  background-color: transparent;
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 400;
  border: 1px solid #9a9da3;
  padding: 12px 20px;
  border-radius: 8px;
}
.order .order-side .grid form input {
  background-color: transparent;
  border-bottom: 1px solid #513520;
  padding-bottom: 4px;
  font-size: 15px;
  color: #000000;
  line-height: 24px;
  font-weight: 400;
}

#favourites {
  padding: 140px 0;
  position: relative;
}
#favourites .liked {
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #513520;
  border-radius: 50%;
  position: absolute;
  z-index: 100;
  right: 16px;
  top: 16px;
}/*# sourceMappingURL=style.css.map */